
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}


header {
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header .tagline {
    font-style: italic;
}


#about {
    padding: 20px 0;
    text-align: center;
}

#about img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

#about .bio {
    margin-top: 20px;
}


#skills {
    background: #f4f4f4;
    padding: 20px 0;
    text-align: center;
}

#skills ul {
    list-style: none;
    padding: center;
}

#skills li {
    display: inline-block;
    margin: 0 10px;
}


#projects {
    padding: 40px 30px; 
}

#projects h2 {
    text-align: center;
}

#projects .project {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
}

#projects .project h3 {
    flex: 1;
    text-align: center;
}

#projects .project img {
    flex: 0 0 auto;
    max-width: 70%;
    height: auto;
}


#resume {
    background: #f4f4f4;
    padding: 20px 0;
    text-align: center;
}

#resume a {
    text-decoration: none;
    color: #333;
    background: #eee;
    padding: 10px 20px;
    border-radius: 5px;
}

#resume a:hover {
    background: #ddd;
}


#contact {
    padding: 20px 0;
    text-align: center;
}

#contact a {
    color: #333;
    text-decoration: none;
}


footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
